{
  "presets": [
    [
      "env",
      {
        "loose": true
      }
    ],
    "react"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-class-properties",
    "syntax-object-rest-spread"
  ]
}
