{
  "presets": ["react", "typescript"],
  "env": {
    "cjs": {
      "presets": [
        [
          "env",
          {
            "loose": true
          }
        ]
      ],
      "plugins": ["syntax-dynamic-import", "transform-class-properties"]
    },
    "es": {
      "presets": [
        [
          "env",
          {
            "loose": true,
            "modules": false
          }
        ]
      ],
      "plugins": ["syntax-dynamic-import", "transform-class-properties"]
    }
  }
}
